html.index {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;

	body {
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
	}

	a.btn {
		justify-self: center;
		align-self: center;
		width: 100%;

		@media (min-width: 480px) {
			width: auto;
		}
	}

	.demo, footer {
		margin-top: var(--standard-padding);
	}

	h1 {
		margin-top: calc(var(--standard-padding) * 2);
	}

	.docs-content {
		flex: 1;
		padding: var(--standard-padding);
		text-align: center;

		.container {
			width: 100%;
			margin: auto auto;
			gap: var(--standard-padding);
		}
		.card {
			text-align: left;
		}

		p.lead {
			font-size: 1.25rem;
			opacity: 0.9;
		}

		.card ul {
			padding-top: var(--padding-small);
		}

	}
}
